### Spring Boot config ###
src/main/resources/application.properties
src/main/resources/application-dev.properties
### Java / Maven ###
target/
*.class
*.jar
*.war
*.ear

### Maven Wrapper ###
.mvn/
mvnw
mvnw.cmd

### IDEs ###
.idea/
*.iml
*.ipr
*.iws
.project
.settings/
.vscode/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Node / Tailwind ###
node_modules/
dist/
build/
package-lock.json
yarn.lock

### Environment Files ###
.env

